/*--------------------------------------------------------------
# Colors
--------------------------------------------------------------*/
$green: #2F5056;
$dark-gray: #14181A;
$light-gray: #D6D6D6;

$transparent-high: 0.8;
$transparent-low: 0.2;
$darken-high: 80%;
$darken-low: 20%;
$lighten-high: 80%;
$lighten-low: 20%;

// Decorators
$color-primary: $light-gray;
$color-secondary: $dark-gray;
$color-tertiary: $green;

$color-primary-light: lighten($color-primary, $lighten-low);
$color-secondary-light: lighten($color-secondary, $lighten-low);
$color-tertiary-light: lighten($color-tertiary, $lighten-low);

$color-primary-dark: darken($color-primary, $darken-low);
$color-secondary-dark: darken($color-secondary, $darken-low);
$color-tertiary-dark: darken($color-tertiary, $darken-low);

$color-primary-trans: transparentize($color-primary, $transparent-low);
$color-secondary-trans: transparentize($color-secondary, $transparent-low);
$color-tertiary-trans: transparentize($color-tertiary, $transparent-low);

$color-primary-active: $color-primary-light;
$color-secondary-active: $color-secondary-light;
$color-tertiary-active: $color-tertiary-light;

// Body
$body-bg-color: $color-primary;
$body-color: $color-secondary;

$hero-color: $color-primary;
$hero-bg-color: $color-secondary;
//$header-bg-color: opacify($color-secondary, 0.2);
//$header-bg-color: transparentize($color-secondary, 0.2);

// Footer
$footer-color: $color-tertiary;
$footer-bg-color: $color-primary-light;

// Links
$link-color: $color-tertiary;
$link-color-hover: $color-tertiary-dark;
$link-color-active: $color-tertiary-light;

// Buttons
$button-color: $color-primary;
$button-color-hover: $color-primary-dark;
$button-color-active: $color-primary-light;
$button-bg-color: $color-secondary;
$button-bg-color-hover: $color-secondary-dark;
$button-bg-color-active: $color-secondary-light;

// Selection Color
$selection-color: $color-primary;
$selection-bg-color: $color-tertiary;
