/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
$gothic: "ff-basic-gothic-web-pro";
$atrament: "atrament-web";

$font-primary: $gothic;
$font-secondary: $atrament;

$body-font: $font-primary;
$body-font-size: 18px;
$body-line-height: 1.7;

$heading-font: $font-secondary;
$header-line-height: 1.2;
$header-letter-spacing: 0.08em;
$header-font-weight: 400;

$font-size-large: 1.8em;
$font-size-small: 0.8em;
