/*--------------------------------------------------------------
# Buttons/Links
--------------------------------------------------------------*/
a {
  text-decoration: none;
  &:link {
    color: $link-color;
  }
  &:hover {
    color: $link-color-hover;
  }
  &:visited {
    color: $link-color;
  }
  &:active, &:focus, &.active {
    color: $link-color-active;
  }
}

// Buttons
button {
  margin: 0.5rem 0;
  max-width: 200px;
  text-align: center;
  cursor: pointer;
  padding: 1em 2em 0.9em;
  background-color: $button-bg-color;
  color: $button-color;
  border: 0;
  line-height: 1;
  &.transparent {
    background-color: transparent !important;
  }
  &:hover {
    background-color: $button-bg-color-hover;
    color: $button-color-hover;
  }
  &:active, &:focus, &.active, &[data-toggled="true"] {
    background-color: $button-bg-color-active;
    color: $button-color-active;
  }
  &.active, &[data-toggled="true"] {
    cursor: default;
  }
  .fullscreen &.close {
    opacity: 0;
    transform: rotateZ(45deg);
    position: fixed;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    top: 26px;
    right: 26px;
    .icon {
      width: 1.5em;
      height: 1.5em;
      use {
        fill: $color-primary;
      }
    }
    &:hover, &:hover use {
      background-color: $color-secondary;
      fill: $color-tertiary;
    }
  }
  nav & {
    margin: 0;
  }
}

// Icon Buttons
.icon {
  width: 1em;
  height: 1em;
}
