/*--------------------------------------------------------------
# Decorations
--------------------------------------------------------------*/

// BG
.bg-primary {
  background-color: $color-primary;
}

.bg-secondary {
  background-color: $color-secondary;
}

.bg-tertiary {
  background-color: $color-tertiary;
}

.bg-primary-trans {
  background-color: $color-primary-trans;
}

.bg-secondary-trans {
  background-color: $color-secondary-trans;
}

.bg-tertiary-trans {
  background-color: $color-tertiary-trans;
}

// Color
.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-tertiary {
  color: $color-tertiary;
}

// Content

.word-break {
  display: block;
  @media only screen and (min-width: 768px){
    display: inline-block;
  }
}

// SVG

svg path, svg rect {
  fill: inherit;
}

use {
  &.color-primary {
    fill: $color-primary;
  }

  &.color-secondary {
    fill: $color-secondary;
  }

  &.color-tertiary {
    fill: $color-tertiary;
  }
}

.profile-pic {
  border-radius: 50%;
  border: 4px solid $color-tertiary;
}

// Font

.font-large {
  font-size: $font-size-large;
}
.font-small {
  font-size: $font-size-small;
}
