/*--------------------------------------------------------------
# Lists
--------------------------------------------------------------*/

ul, ol {
  list-style: none;
  padding-left: 0;
  &.work-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 768px){
      flex-direction: row;
    }
    li {
      padding: 1em;
      a {
        &:hover > img {
          opacity: 0.8;
        }
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
  &.list-inline {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    @media only screen and (min-width: 768px){
      justify-content: flex-end;
    }
    li {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
    }
  }
  &.social {
    line-height: 0;
    use {
      fill: $color-primary-dark;
      a:hover & {

      }
    }
    a:hover {
      use {
        fill: $color-tertiary;
      }
    }
  }
}
