/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/

img {
  max-width: 100%;
  height: auto;
}

.bg-img {
  display: block;
  overflow: hidden;
  position: relative;
  &.cover {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 640px;
    max-width: 100%;
  }
  &:before {
    content: "";
    display: block;
    width: 100%;
  }
  &.ratio-3x1:before {
    padding-bottom: 33.33333%;
  }
  &.ratio-2x1:before {
    padding-bottom: 50%;
  }
  &.ratio-16x9:before {
    padding-bottom: 56.25%;
  }
  &.ratio-4x3:before {
    padding-bottom: 75%;
  }
}
