/*--------------------------------------------------------------
# Miscellaneous
--------------------------------------------------------------*/
html {
  min-height: 100%;
  box-sizing: border-box;
  background-color: $color-primary-light;
  position: relative;
}


*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

::selection {
  background: $selection-bg-color;
  color: $selection-color;
  text-shadow: none;
}

body {
  min-height: 100%;
  background: $body-bg-color;
  color: $body-color;
  font-family: $body-font;
  font-size: $body-font-size;
  line-height: $body-line-height;
  display: flex;
  flex-direction: column;
  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-family: $heading-font;
  letter-spacing: $header-letter-spacing;
  line-height: $header-line-height;
  font-weight: $header-font-weight;
}

section {
  flex: auto;
}

footer {
  background-color: $footer-bg-color;
  color: $footer-color;
}

.sr-only {
  width: 0px;
  height: 0px;
  display: inline-block;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}
