/*--------------------------------------------------------------
# Alignment
--------------------------------------------------------------*/
.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.center {
  align-self: center;
  text-align: center;
  @media only screen and (min-width: 768px){
    text-align: left;
  }
}
