/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
.container-fluid, .container {
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.container-fluid {
  max-width: 100%;
}
.container {
  max-width: 76rem;
}

.fullscreen {
  position: fixed;
  top: 100%;
  left: 0;
  z-index: -1;
  max-width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .no-scroll & {
    z-index: 10;
  }
}

.fluid {
  width: 100%;
  max-width: 100%;
}
