/*--------------------------------------------------------------
# CV
--------------------------------------------------------------*/

.cv-content {
  display: none;
}

.cv-content:first-of-type {
  display: block;
}
