/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
#hero {
  position: relative;
  min-height: 40vh;
  flex: none;
  background-color: $hero-bg-color;
  color: $hero-color;
}

.header-default {
  position: relative;
  z-index: 0;
  height: 40vh;
}

#hero-animation {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-secondary-dark;
}

.logo {
  display: flex;
  margin: 0.67em 0;
  img {
    width: 76px;
    height: 48px;
    background: url(../img/logo.svg) no-repeat;
    background-size: 76px 48px;
  }
}
